## 3.5 - Dados CSV

In [0]:
import pandas as pd
baseball_data = pd.read_csv('Master.csv')
baseball_data.head()
# print(baseball_data['nameFirst'])

baseball_data['height_plus_weight'] = \
  baseball_data['height'] + baseball_data['weight']
baseball_data[['height','weight','height_plus_weight']].head()

baseball_data.to_csv('baseball_data_with_weight_height.csv')

## 3.6 - Exercício sobre CSV (enviar pelo Canvas)

In [0]:
import pandas as pd

def add_full_name(path_to_csv, path_to_new_csv):
    # Assuma que você estará lendo em um arquivo csv com as mesmas colunas que o
    # conjunto de dados de beisebol Lahman tem.
    # Existem colunas chamadas 'nameFirst' e 'nameLast'.
    #
    # 1) Escreva uma função que leia um csv localizado em "path_to_csv" 
    # para um dataframe do pandas e adicione uma nova coluna chamada "nameFull" 
    # com o nome completo do jogador.
    #
    # Por exemplo:
    # para Hank Aaron, nameFull seria "Hank Aaron",
    #
    # 2) Grave os dados do pandas dataFrame em um novo arquivo csv localizado em
    # path_to_new_csv
  
  baseball_data = pd.read_csv(path_to_csv,encoding='iso8859_2')
  baseball_data['nameFull'] = baseball_data['nameFirst'] + ' '+ baseball_data['nameLast']
  baseball_data.to_csv(path_to_new_csv)

  #if __name__ == "__main__":
    
    # For local use only 
    # (apenas se você estivesse rodando este código em sua máquina local)
    # If you are running this on your own machine add the path to the
    # Lahman baseball csv and a path for the new csv.
    # We are using the file Master.csv

    

# Não se esqueça de testar o seu código e conferir se o novo arquivo csv
# contém a coluna criada na forma adequada.

In [0]:
# Código para teste
add_full_name('Master.csv','novo.csv')
baseball_data = pd.read_csv('novo.csv').head()
baseball_data[['nameFirst','nameLast','nameFull']].head()

  nameFirst nameLast      nameFull
0      Hank    Aaron    Hank Aaron
1    Tommie    Aaron  Tommie Aaron
2       Don     Aase      Don Aase
3      Andy     Abad     Andy Abad
4      John   Abadie   John Abadie

## 3.9 - Escreva a sua própria consulta simples (enviar pelo Canvas)

In [0]:
# O pacote pandasql (https://pypi.org/project/pandasql/) nos permite fazer 
# consultas em dataframes usando o SQLite syntax.

import pandas
#!pip install -U pandasql
import pandasql

def select_first_50(filename):
  
  # Carrega o arquivo aadhaar_data.csv em um dataframe do pandas. Na sequência,
  # renomeia as colunas, substituindo os espaços por underscores e transformando
  # todos os caracteres para minúsculo, de forma que se assemelhe mais a uma 
  # tabela de banco de dados.
  aadhaar_data = pandas.read_csv(filename)
  

  # Selecione os primeiros 50 registros para as colunas "registrar" e 
  # "enrolment_agency" da tabela aadhaar_data usando a sintaxe SQL. 
  #
  # Você pode fazer o download de uma cópia dos dados aadhaar no link abaixo
  # para solucionar este exercício:
  # https://1drv.ms/u/s!Av8pSmXDlugUjdMAWEIGGqx_6MS7Tg
  aadhaar_data.rename(columns = lambda x: x.replace(' ', '_').lower(), inplace=True)
  # Query SQL
  q = """  
   SELECT registrar, enrolment_agency from aadhaar_data LIMIT 50
  """


  # Executa o seu comando SQL e retorna um dataframe
  aadhaar_solution = pandasql.sqldf(q.lower(), locals())
  return aadhaar_solution

In [0]:
# Código para teste
select_first_50('aadhaar-data.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2828: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

         registrar             enrolment_agency
0   Allahabad Bank            Tera Software Ltd
1   Allahabad Bank            Tera Software Ltd
2   Allahabad Bank  Vakrangee Softwares Limited
3   Allahabad Bank  Vakrangee Softwares Limited
4   Allahabad Bank  Vakrangee Softwares Limited
5   Allahabad Bank  Vakrangee Softwares Limited
6   Allahabad Bank  Vakrangee Softwares Limited
7   Allahabad Bank  Vakrangee Softwares Limited
8   Allahabad Bank  Vakrangee Softwares Limited
9   Allahabad Bank  Vakrangee Softwares Limited
10  Allahabad Bank  Vakrangee Softwares Limited
11  Allahabad Bank  Vakrangee Softwares Limited
12  Allahabad Bank  Vakrangee Softwares Limited
13  Allahabad Bank  Vakrangee Softwares Limited
14  Allahabad Bank  Vakrangee Softwares Limited
15  Allahabad Bank  Vakrangee Softwares Limited
16  Allahabad Bank  Vakrangee Softwares Limited
17  Allahabad Bank  Vakrangee Softwares Limited
18  Allahabad Bank  Vakrangee Softwares Limited
19  Allahabad Bank  Vakrangee Softwares Limited
20  Allahabad Bank  Vakrangee Softwares Limited
21  Allahabad Bank  Vakrangee Softwares Limited
22  Allahabad Bank  Vakrangee Softwares Limited
23  Allahabad Bank  Vakrangee Softwares Limited
24  Allahabad Bank  Vakrangee Softwares Limited
25  Allahabad Bank  Vakrangee Softwares Limited
26  Allahabad Bank  Vakrangee Softwares Limited
27  Allahabad Bank  Vakrangee Softwares Limited
28  Allahabad Bank  Vakrangee Softwares Limited
29  Allahabad Bank  Vakrangee Softwares Limited
30  Allahabad Bank  Vakrangee Softwares Limited
31  Allahabad Bank  Vakrangee Softwares Limited
32  Allahabad Bank  Vakrangee Softwares Limited
33  Allahabad Bank  Vakrangee Softwares Limited
34  Allahabad Bank  Vakrangee Softwares Limited
35  Allahabad Bank  Vakrangee Softwares Limited
36  Allahabad Bank  Vakrangee Softwares Limited
37  Allahabad Bank  Vakrangee Softwares Limited
38  Allahabad Bank  Vakrangee Softwares Limited
39  Allahabad Bank  Vakrangee Softwares Limited
40  Allahabad Bank  Vakrangee Softwares Limited
41  Allahabad Bank  Vakrangee Softwares Limited
42  Allahabad Bank  Vakrangee Softwares Limited
43  Allahabad Bank  Vakrangee Softwares Limited
44  Allahabad Bank  Vakrangee Softwares Limited
45  Allahabad Bank  Vakrangee Softwares Limited
46  Allahabad Bank  Vakrangee Softwares Limited
47  Allahabad Bank  Vakrangee Softwares Limited
48  Allahabad Bank  Vakrangee Softwares Limited
49  Allahabad Bank  Vakrangee Softwares Limited

## 3.10 - Consultas complexas

In [0]:
import pandas
#!pip install -U pandasql
import pandasql

aadhaar_data = pandas.read_csv('aadhaar-data.csv')
aadhaar_data.rename(columns = lambda x: x.replace(' ', '_').lower(), inplace=True)

q = """
select * from aadhaar_data 
where state = 'Gujarat';
"""

pandasql.sqldf(q, locals()).head()

        registrar  ... residents_providing_mobile_number
0  Allahabad Bank  ...                                 0
1   Bank Of India  ...                                 1
2   Bank Of India  ...                                 1
3   Bank Of India  ...                                 1
4   Bank Of India  ...                                 1

[5 rows x 12 columns]

In [0]:
q = """
SELECT district, SUM (aadhaar_generated) 
FROM aadhaar_data GROUP BY district;
"""

pandasql.sqldf(q, locals()).head()

      district  SUM (aadhaar_generated)
0     Adilabad                        1
1         Agra                        9
2   Ahmadnagar                      552
3  Ahmed Nagar                        0
4    Ahmedabad                        9

In [0]:
q = """
SELECT district, sub_district, SUM (aadhaar_generated) 
FROM aadhaar_data GROUP BY district, sub_district;
"""

pandasql.sqldf(q, locals()).head()

   district sub_district  SUM (aadhaar_generated)
0  Adilabad   Lokeswaram                        1
1      Agra          Bah                        3
2      Agra     Etmadpur                        1
3      Agra    Fatehabad                        1
4      Agra    Kheragarh                        2

In [0]:
q = """
SELECT district, sub_district, SUM (aadhaar_generated) 
FROM aadhaar_data WHERE age > 60 GROUP BY district, sub_district;
"""

pandasql.sqldf(q, locals()).head()

     district sub_district  SUM (aadhaar_generated)
0  Ahmadnagar        Nagar                        0
1  Ahmadnagar       Nevasa                       18
2  Ahmadnagar       Parner                        1
3  Ahmadnagar     Pathardi                       13
4  Ahmadnagar        Rahta                        0

## 3.11 - Escreva a sua própria consulta complexa (enviar pelo Canvas)

In [0]:
import pandas
import pandasql

def aggregate_query(filename):
  # Carrega o arquivo aadhaar_data.csv em um dataframe do pandas. Na sequência,
  # renomeia as colunas, substituindo os espaços por underscores e transformando
  # todos os caracteres para minúsculo, de forma que se assemelhe mais a uma 
  # tabela de banco de dados.

  aadhaar_data = pandas.read_csv(filename)
  aadhaar_data.rename(columns = lambda x: x.replace(' ', '_').lower(), inplace=True)
  

  # Escreva uma query que selecione da tabela aadhaar_data a quantidade de
  # homens e mulheres acima de 50 anos que tiveram a identificação aadhaar
  # gerada para cada distrito.
  # aadhaar_generated é a coluna que denota a quantidade de Aadhaar IDs foram
  # gerados.
  #
  # Possíveis colunas para serem selecionadas dos dados de Aadhaar:
  #     1) registrar
  #     2) enrolment_agency
  #     3) state
  #     4) district
  #     5) sub_district
  #     6) pin_code
  #     7) gender
  #     8) age
  #     9) aadhaar_generated
  #     10) enrolment_rejected
  #     11) residents_providing_email,
  #     12) residents_providing_mobile_number
  #
  # Você pode fazer o download dos dados de Aadhaar pelo link abaixo:
  # https://1drv.ms/u/s!Av8pSmXDlugUjdMAWEIGGqx_6MS7Tg

  q = """
    
    SELECT gender,district, SUM (aadhaar_generated)
    FROM aadhaar_data WHERE age > 50   GROUP BY district,gender ; 
       """  

  # Executa o seu comando SQL e retorna um dataframe
  aadhaar_solution = pandasql.sqldf(q.lower(), locals())
  return aadhaar_solution

In [0]:
#PAra saber o nome das colunas
''' aadhaar_data = pandas.read_csv('aadhaar-data.csv')
aadhaar_data.columns '''
# Código para teste
aggregate_query('aadhaar-data.csv')

Index(['Registrar', 'Enrolment Agency', 'State', 'District', 'Sub District',
       'Pin Code', 'Gender', 'Age', 'Aadhaar generated', 'Enrolment Rejected',
       'Residents providing email', 'Residents providing mobile number'],
      dtype='object')