## 3.11 - Escreva a sua própria consulta complexa (enviar pelo Canvas)

In [0]:
import pandas
#pip install -U pandasql
import pandasql

def aggregate_query(filename):
  # Carrega o arquivo aadhaar_data.csv em um dataframe do pandas. Na sequência,
  # renomeia as colunas, substituindo os espaços por underscores e transformando
  # todos os caracteres para minúsculo, de forma que se assemelhe mais a uma 
  # tabela de banco de dados.

  aadhaar_data = pandas.read_csv(filename)
  aadhaar_data.rename(columns = lambda x: x.replace(' ', '_').lower(), inplace=True)
  

  # Escreva uma query que selecione da tabela aadhaar_data a quantidade de
  # homens e mulheres acima de 50 anos que tiveram a identificação aadhaar
  # gerada para cada distrito.
  # aadhaar_generated é a coluna que denota a quantidade de Aadhaar IDs foram
  # gerados.
  #
  # Possíveis colunas para serem selecionadas dos dados de Aadhaar:
  #     1) registrar
  #     2) enrolment_agency
  #     3) state
  #     4) district
  #     5) sub_district
  #     6) pin_code
  #     7) gender
  #     8) age
  #     9) aadhaar_generated
  #     10) enrolment_rejected
  #     11) residents_providing_email,
  #     12) residents_providing_mobile_number
  #
  # Você pode fazer o download dos dados de Aadhaar pelo link abaixo:
  # https://1drv.ms/u/s!Av8pSmXDlugUjdMAWEIGGqx_6MS7Tg

  q = """
    
    SELECT gender,district, SUM (aadhaar_generated)
    FROM aadhaar_data WHERE age > 50   GROUP BY gender, district order by SUM (aadhaar_generated); 
       """  

  # Executa o seu comando SQL e retorna um dataframe
  aadhaar_solution = pandasql.sqldf(q.lower(), locals())
  return aadhaar_solution

In [6]:
# Código para teste
aggregate_query('aadhaar-data.csv')

    gender     district  sum (aadhaar_generated)
0        F  Ahmed Nagar                        0
1        F     Amravati                        0
2        F        Banka                        0
3        F    Bhagalpur                        0
4        F  Hoshangabad                        0
..     ...          ...                      ...
523      F    Bangalore                      433
524      F         Rewa                      437
525      M         Rewa                      498
526      M    Bangalore                      510
527      M       Sangli                      569

[528 rows x 3 columns]