# **2.2 Heuristica Mais Complexa**

In [0]:
import numpy
import pandas

def complex_heuristic(file_path):
    '''
    Para este exercício, você deverá escrever um algoritmo mais sofisticado que 
    usará o sexo e a classe socioeconômica dos passageiros para prever se eles 
    sobreviveram ao desastre do Titanic.

    Sua previsão deve ser 79% precisa ou mais.

    Aqui está o algoritmo, preveja que o passageiro sobreviveu se:
    1) Se o passageiro é do sexo feminino ou 
    2) se seu status socioeconômico é alto E se o passageiro é menor de 18 anos 

    Caso contrário, seu algoritmo deve prever que o passageiro morreu no desastre.

    Ou mais especificamente em termos de codificação:
    feminino ou (status alto e abaixo de 18 anos)
      
    Você pode acessar o sexo de um passageiro via passenger['Sex'].
    Se o passageiro for do sexo masculino, o passenger['Sex'] retornará uma 
    string "male".
    Se o passageiro for do sexo feminino, o passenger['Sex'] retornará uma 
    string "female".

    Você pode acessar o status socioeconômico de um passageiro via passenger['Pclass']:
    Alto status socioeconômico - passenger['Pclass'] é 1
    Médio status socioeconômico - passenger['Pclass'] é 2
    Baixo nível socioeconômico - passenger['Pclass'] é de 3

    Você pode acessar a idade de um passageiro via passenger['Age'].

    Escreva sua previsão de volta no dicionário "predictions". A chave do 
    dicionário deve ser o id do Passageiro (que pode ser acessado via 
    passenger["PassengerId"]) e o valor associado deve ser 1 se o passageiro 
    sobreviver ou 0 caso contrário.

    Por exemplo, se for previsto que um passageiro sobreviveu:
    passenger_id = passenger['PassengerId']
    predictions[passenger_id] = 1

    E se for previsto que um passageiro morreu no desastre:
    passenger_id = passenger['PassengerId']
    predictions[passenger_id] = 0
    '''
    predictions = {}
    df = pandas.read_csv(file_path)
    for passenger_index, passenger in df.iterrows():
        passenger_id = passenger['PassengerId']
        if passenger['Sex'] == "female" or ( passenger['Pclass']== 1 and passenger['Age'] <18):
          passenger_id = passenger['PassengerId']
          predictions[passenger_id] = 1
        elif passenger['Sex'] == 'male' or ( passenger['Pclass'] != 1):
          passenger_id = passenger['PassengerId']
          predictions[passenger_id] = 0
    return predictions, df

In [10]:
# ...
predictions, df_titanic = complex_heuristic('titanic-data.csv')
acertos = 0
for i in predictions:
  if predictions[i] == df_titanic['Survived'][i-1]:
    acertos += 1
# Calcula a quantidade de acerto em porcentagem
p_acertos = acertos / len(predictions) * 100
print("A porcentagem de acerto nas previsões foi de {:.2f}%".format(p_acertos))

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [12]:
# Função para calcular a quantidade de acertos (desenvolver)
def calcula_acertos(predictions, labels):
  # ...
  p_acertos = 0
  for i in predictions:
    if predictions[i] == labels[i-1]:
      p_acertos +=1
  return p_acertos /len(predictions) *100

# ...
# Calcula acertos em porcentagem
p_acertos = calcula_acertos(predictions, df_titanic['Survived'])
print("A porcentagem de acerto nas previsões foi de {:.2f}%".format(p_acertos))

A porcentagem de acerto nas previsões foi de 79.12%